<!DOCTYPE html>
<!-- We add our View model to the HTML by declaring the following 'ng-app' below -->
<html lang="en" ng-app="App"> 

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="dist/css/foundation.min.css"></link>
    <link rel="stylesheet" href="dist/css/main.css"></link>
</head>

<body>
    <div id="wrapper">
        <header><h1>Simple Todo Application</h1></header>
        <form id="main" ng-controller="_Controller as todo" ng-submit="todo.addTask()">
            <input id="taskInput" type="text" ng-model="todo.description" placeholder="Enter a Task!">
            <!-- We add an event handler using angular to call the addTodoItem() -->
            <a class="button success" ng-click="todo.addTask()">Add</a>
            <a class="button secondary" ng-click="todo.markAll()" ng-model="element.completed">Mark All</a>
            <a class="button alert" ng-click="todo.removeAll()">Remove All</a>
            <a class="button" ng-click="todo.removeSelected()">Remove Selected</a>
            <ul id="list">
                <!--  We set up some <li> tags to append todos from the Items() -->
                <li ng-repeat="element in todo.Items">
                    <!-- A label element is added for each totoItem -->
                    <label id="update" ng-dblclick="todo.updateTask(element)">{{element.description}}</label>
                    <!-- Event handler is added to the remove button and calls the remove function -->
                    <!-- If checked - the boolean completed is triggered -->
                    <input id="completed" class="check" type="checkbox" ng-model="element.completed">
                    <a class="remove alert small" ng-click="todo.removeTask(element)">&times;</a>
                </li>
            </ul>
            <!-- Some simple plain text which displays the amount of Items left using angular -->
            {{todo.remaining()}} / {{todo.Items.length}} tasks are left todo.
        </form>
    </div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="dist/main.js"></script>
</html>
